<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pengukuran</title>
</head>
<body>
    <h1>Pengukuran</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nama Balita</th>
                <th>Hasil OCR</th>
            </tr>
        </thead>
        <tbody>
            {% for hasil_ocr in hasil_ocr_list %}
            <tr>
                <td>{{ hasil_ocr.balita.nama_balita }}</td>
                <td>{{ hasil_ocr.hasil }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
