<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Input Pengukuran Manual</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="my-4">Input Pengukuran Manual</h1>
      <form method="POST">
        <div class="form-group">
          <label for="beratBadan">Berat Badan</label>
          <input type="text" class="form-control" id="beratBadan" name="berat_badan" />
        </div>
        <div class="form-group">
          <label for="tinggiBadan">Tinggi Badan</label>
          <input type="text" class="form-control" id="tinggiBadan" name="tinggi_badan" />
        </div>
        <div class="form-group">
          <label for="lingkarKepala">Lingkar Kepala</label>
          <input type="text" class="form-control" id="lingkarKepala" name="lingkar_kepala" />
        </div>
        <button type="submit" class="btn btn-success">Simpan</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
